# Python Basics NoteBook

In [9]:
#Write a Python code to return your Python version
import sys
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [4]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
print("customer id = " + id)

customer id = 513

In [7]:
#Run the following statement, why there is an error
#The error is because we have to convert the id from string to integer
id=int(id)+1
id

515

In [8]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id = int(id)+1
print(new_id)

516

In [14]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star,\n \t How I wonder what you are!\n \t\t Up above the world so high, \n \t\t\t Like a diamond in the sky.")

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 		 Up above the world so high,
 			 Like a diamond in the sky.

In [15]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [16]:
# Print the element on the 13th index in the string
print(course[13])

t

In [17]:
# Find the length of string
len(course)

23

In [18]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [19]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [20]:
# Get every third element in the range from index 0 to index 20
print(course[:21:3])

Ph ra i

In [32]:
# Concatenate course string with ", AI & Development"
course_name= course +", AI & Development"
print (course_name)

Python for Data Science, AI & Development

In [33]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course_name1= course_name.replace(" ","_")
course_name1

'Python_for_Data_Science,_AI_&_Development'

In [34]:
# Convert all the characters in string to upper case
course_name1.upper()

'PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT'